*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder{
    color: #111;
}

::-moz-placeholder{
    color: #111;
}

:-ms-input-placeholder{
    color: #111;
}

::-ms-input-placeholder{
    color: #111;
}

::placeholder{
    color: #111;
}

@-webkit-keyframes name{
    from{
        opacity: 1;
        columns: 200px 2;
    }to{
        opacity: 0.1;
        columns: 50px 4;
    }
}

@keyframes name{
    from{
        opacity: 1;
        -moz-columns: 200px 2;
             columns: 200px 2;
    }to{
        opacity: 0.1;
        -moz-columns: 50px 4;
             columns: 50px 4;
    }
}

.box{
    color: #123456;
}

.box .box-item{
        box-sizing: border-box;
    }