.generic-typography{
    p{
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: justify;
        a{
            font-weight: 700;
        }
    }
    p:last-child{
        margin-bottom: 0;
    }
}